.form-control {
  position: relative;
  margin: 20px 0 40px;
  /* width: 190px; */
}

.form-control input,
.form-control select {
  background-color: transparent;
  border: 0;
  border-bottom: 2px rgb(0, 140, 255) solid;
  /* display: block; */
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: rgb(0, 140, 255);
}

.form-control input:focus,
.form-control input:valid,
.form-control select:focus,
.form-control select:valid {
  outline: 0;
  border-bottom-color: rgb(0, 140, 255);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 5px;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  /* font-size: 18px; */
  min-width: 5px;
  color: lightblue;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span,
.form-control select:focus + label span,
.form-control select:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

/* BUTTON STYLING */
.shadow__btn {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}
